-title('Password Settings')

.section-container
  .section-header
    .section-title= 'Change Password'
  = form_for :user, url: password_settings_path do |f|
    = hidden_field_tag 'attribute', 'password', id: nil
    %table.horizontal-form
      %col{span: 1, style: 'width: 114px'}
      %col{span: 1, style: 'width: 425px'}
      %tr
        %td
          = f.label :current_password, 'Current'
        %td.form-control-lg
          = f.password_field :current_password, class: 'form-control', 'data-toggle': 'password', placeholder: 'Type Current Password'
      %tr
        %td
          = f.label :password, 'New'
        %td.form-control-lg
          = f.password_field :password, class: 'form-control form-control-lg', 'data-toggle': 'password', placeholder: 'Type New Password'
      %tr
        %td
          = f.label :password_confirmation, 'Confirmation'
        %td.form-control-lg
          = f.password_field :password_confirmation, class: 'form-control form-control-lg', 'data-toggle': 'password', placeholder: 'Re-type New Password'
      %tr
        %td
        %td
          .pull-left
            = button_tag type: 'submit', class: 'btn btn-success' do
              %span.glyphicon.glyphicon-ok.icon-spacer
              Save
          .pull-right= link_to 'Forgot your password?', forgot_path, class: 'second-button'